# Dev requirements
gitpython
httpretty
mypy
packaging
pexpect
pyOpenSSL<24.3.0  # Pin to <24.3.0 because CRL support was removed in 24.3.0
pytest==8.0.2
pytest-cov
pytest-rerunfailures
retry
black==23.10.1
isort

# Type stubs
types-orjson
types-protobuf
types-pyOpenSSL
types-pyyaml
types-requests
types-retry
types-setuptools
