name: Arista KAT Tests

on:
  push:
  pull_request:

jobs:
  kat-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test:
          - kat-envoy3-tests-1-of-5
          - kat-envoy3-tests-2-of-5
          - kat-envoy3-tests-3-of-5
          - kat-envoy3-tests-4-of-5
          - kat-envoy3-tests-5-of-5
    name: pytest-${{ matrix.test }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dependencies
        uses: ./.github/actions/setup-deps

      - name: Increase system limits for k3d
        run: |
          sudo sysctl -w fs.file-max=1600000
          sudo sysctl -w fs.inotify.max_user_instances=4096

      - name: Create k3d cluster
        run: |
          make ci/setup-k3d

      - name: Build and import Docker images
        run: |
          # Build all test images locally and import into k3d
          # No remote registry or secrets required!
          make ci/build-and-import-images

      - name: Setup Python test environment
        run: |
          export DEV_KUBE_NO_PVC=yes
          export KAT_REQ_LIMIT=900
          export DEV_KUBECONFIG=~/.kube/config
          # Don't set DEV_REGISTRY - this triggers local image mode
          make ci/python-integration-test-environment

      - name: Run ${{ matrix.test }}
        run: |
          export DEV_KUBE_NO_PVC=yes
          export KAT_REQ_LIMIT=900
          export DEV_KUBECONFIG=~/.kube/config
          # Don't set DEV_REGISTRY - use local images
          make pytest-${{ matrix.test }}

      - name: Collect logs and cleanup
        uses: ./.github/actions/after-job
        if: always()
        with:
          jobname: kat-${{ matrix.test }}

