name: python-unit-tests

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r python/requirements-dev.txt
          pip install -e python

      - name: Run Python unit tests
        run: |
          pytest python/tests/unit

